.myLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    font-size: 20px;
}

.myInput {
    display: block;
    margin: 10px 0;
    max-width: 300px;
    font-size: inherit;
}

.myInput[readonly] {
    opacity: 0.5;
}
